<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<title th:text=" ${artist.name} + ' details'"></title>
</head>

<body>
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Musify</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a th:href="@{/peoplelist}">People list</a></li>
        <li><a th:href="@{/}">Artists list</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/}">Artists list</a></li>
            <li><a th:href="@{/peoplelist}">People list</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" th:text="${artist.name}"></li>
					<li class="list-group-item" th:text="${artist.year}"></li>
					<li class="list-group-item" th:text="${artist.styles}"></li>
				</ul>
				<h3>Members</h3>
				<a th:href="@{/addmembers?id=__${artist.id}__}">
				<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				 Add member</button>
				</a>	
								
				<ul class="list-group" th:each="ppl: ${artist.people}">
					<li class="list-group-item" th:text="${ppl.name}"></li>
				</ul>
				
				<h3>Related artists</h3>
				<a th:href="@{/addfeatured?id=__${artist.id}__}">
				<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				 Add artist</button>
				</a>	
				<table class="table table-stripped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Year</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="a: ${artist.artists}">
						<td th:text="${a.name}"></td>
						<td th:text="${a.year}"></td>
						<td>
							<a th:href="@{/removefeatured/__${artist.id}__/__${a.id}__}">
							<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
							 Remove</button>
							</a>
						</td>
						</tr>
						</tbody>
						</table>
			</div>
		</div>
</body>

</html>