<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<title>Artists list</title>
</head>

<body>
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Musify</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a th:href="@{/peoplelist}">People list</a></li>
        <li><a th:href="@{/}">Artists list</a></li>
        <li class="dropdown">
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
	<div class="container">
	<h3>People list</h3>
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<a th:href="@{/peopleform}">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					New people
				</button>
			</a>
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Years</th>
						<th colspan="2">Artist</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ppl: ${people}">
						<td th:text="${ppl.name}"></td>
						<td th:text="${ppl.years}"></td>
					<td th:text="${ppl.artist == null} ? 'No' : ${ppl.artist.name}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>

</html>